<a href="https://colab.research.google.com/github/bugeki/workshops/blob/main/Statistics_Assignment_5_(Hypothesis_Tests).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install --upgrade scipy

In [12]:

import pandas as pd
import numpy as np
import scipy as scipy
from scipy import stats

print(scipy.__version__)
from statsmodels.stats.weightstats import ztest

1.7.3

EXERCISE 1. The hourly wages in a particular industry are normally distributed with mean $13.20 and standard deviation $2.50. A company in this industry employs 40 workers, paying them an average of $12.20 per hour. Can this company be accused of paying substandard wages? Use an Î± = .01 level test. (Wackerly, Ex.10.18)

CHECK: statistic: -2.5298221281347035, pvalue= 0.005706018193000826

**Solution:** 
ho >> mu = 13.2

ha >> mu < 13.2

one-tailed (lower) hypothesis test

alpha = 0.01 is significance level
normal distribution and sample size > 30 so z-test applied.

In [3]:
alpha = 0.01

In [14]:
sigma = 2.5 # sd of pop
mu = 13.20 # Pop. mean
xbar = 12.20 # sample mean 
n = 40 # number of sample
 

# z_test = (xbar - mu)/(sigma/sqrt(n))
z_test = (12.2 - 13.2) / (2.5/np.sqrt(40))
z_test

-2.5298221281347035

In [16]:
p_value = stats.norm.cdf(z_test)
p_value

0.005706018193000826

In [7]:
if(p_value <  alpha):
  print("Reject Null Hypothesis")
else:
  print("Fail to Reject NUll Hypothesis")

Reject Null Hypothesis

EXERCISE 2.Shear strength measurements derived from unconfined compression tests for two types of soils gave the results shown in the following document (measurements in tons per square foot). Do the soils appear to differ with respect to average shear strength, at the 1% significance level?

Results for two type of soils

CHECK: statistic: 5.1681473319343345, pvalue= 2.593228732352821e-06

Ho SS means are equal
Ha SS means are not equal
independent t test
population with unknown distribution

In [8]:
soil = pd.read_csv("/content/soil - Sheet1.csv")

In [10]:
soil.head()

   Soil1  Soil2
0  1.442  1.364
1  1.943  1.878
2  1.110  1.337
3  1.912  1.828
4  1.553  1.371

In [35]:
soil["Soil2"].mean()

1.4171142857142855

In [37]:
twoSample = stats.ttest_ind(soil.dropna()["Soil1"], soil["Soil2"],  equal_var=True)
twoSample

Ttest_indResult(statistic=5.1681473319343345, pvalue=2.593228732352821e-06)

In [38]:
##  twosample = 

alpha = 0.05
p_value = twoSample.pvalue

if p_value<alpha:
    print('At {} level of significance, we can reject the null hypothesis in favor of the alternative hypothesis.'.format(alpha))
else:
    print('At {} level of significance, we fail to reject the null hypothesis.'.format(alpha))

At 0.05 level of significance, we can reject the null hypothesis in favor of the alternative hypothesis.

EXERCISE 3. The following dataset is based on data provided by the World Bank (https://datacatalog.worldbank.org/dataset/education-statistics). World Bank Edstats.  2015 PISA Test Dataset

Get descriptive statistics (the central tendency, dispersion and shape of a datasetâs distribution) for each continent group (AS, EU, AF, NA, SA, OC).
Determine whether there is any difference (on the average) for the math scores among European (EU) and Asian (AS) countries (assume normality and equal variances). Draw side-by-side box plots.
CHECK: statistic=0.870055317967983, pvalue=0.38826888111307345

In [39]:
pisa = pd.read_csv("/content/2015 PISA Test - Sheet1.csv")

In [40]:
pisa.head()

  Country Code Continent_Code  ...   Reading   Science
0          ALB             EU  ...  405.2588  427.2250
1          ARE             AS  ...  433.5423  436.7311
2          ARG             SA  ...  425.3031  432.2262
3          AUS             OC  ...  502.9006  509.9939
4          AUT             EU  ...  484.8656  495.0375

[5 rows x 6 columns]

In [70]:
pisa.groupby("Continent_Code").describe().T

Continent_Code                        AF          AS  ...          OC          SA
internet_users_per_100 count    2.000000   17.000000  ...    2.000000    7.000000
                       mean    43.359918   68.455613  ...   86.391704   60.180494
                       std      7.297226   21.086060  ...    2.589686    9.772455
                       min     38.200000   21.976068  ...   84.560519   40.900000
                       25%     40.779959   50.300000  ...   85.476112   57.116462
                       50%     43.359918   74.000000  ...   86.391704   64.289000
                       75%     45.939877   84.948353  ...   87.307296   66.321532
                       max     48.519836   92.884826  ...   88.222889   69.198471
Math                   count    2.000000   17.000000  ...    2.000000    7.000000
                       mean   363.212100  466.216647  ...  494.559750  402.887700
                       std      5.099513   64.356490  ...    0.938401   18.128894
                       min    359.606200  380.259000  ...  493.896200  377.069500
                       25%    361.409150  403.833200  ...  494.227975  388.102200
                       50%    363.212100  459.816000  ...  494.559750  409.033300
                       75%    365.015050  531.296100  ...  494.891525  417.617650
                       max    366.818000  564.189700  ...  495.223300  422.671400
Reading                count    2.000000   17.000000  ...    2.000000    7.000000
                       mean   355.457400  454.059682  ...  506.085650  425.359229
                       std      7.916909   57.048962  ...    4.504341   19.709688
                       min    349.859300  346.549000  ...  502.900600  397.541400
                       25%    352.658350  408.102200  ...  504.493125  416.126900
                       50%    355.457400  433.542300  ...  506.085650  425.303100
                       75%    358.256450  508.690500  ...  507.678175  431.922700
                       max    361.055500  535.100200  ...  509.270700  458.570900
Science                count    2.000000   17.000000  ...    2.000000    7.000000
                       mean   381.074250  467.945847  ...  511.648700  421.747186
                       std      7.536556   56.671371  ...    2.340241   18.470319
                       min    375.745100  386.485400  ...  509.993900  396.683600
                       25%    378.409675  417.611200  ...  510.821300  408.205450
                       50%    381.074250  456.483600  ...  511.648700  424.590500
                       75%    383.738825  523.277400  ...  512.476100  433.794600
                       max    386.403400  555.574700  ...  513.303500  446.956100

[32 rows x 5 columns]

In [71]:
pisa.groupby("Continent_Code").describe().T["EU"]["Math"][1]

477.98144864864867

In [72]:
pisa.groupby("Continent_Code").describe().T["AS"]["Math"][1]

466.2166470588236

In [ ]:
pisa.groupby("Continent_Code")["Continent_Code"=="EU"]

In [89]:
pisa.loc[:,["Continent_Code","Math"]]

   Continent_Code      Math
0              EU  413.1570
1              AS  427.4827
2              SA  409.0333
3              OC  493.8962
4              EU  496.7423
..            ...       ...
65             AF  366.8180
66             EU  420.4540
67             SA  417.9919
68            NaN  469.6285
69             AS  494.5183

[70 rows x 2 columns]

In [65]:
pd.DataFrame(pisa.groupby("Continent_Code")["Math"])

    0                                                  1
0  AF  19    359.6062
65    366.8180
Name: Math, dtyp...
1  AS  1     427.4827
11    531.2961
25    403.8332
2...
2  EU  0     413.1570
4     496.7423
5     506.9844
6...
3  OC  3     493.8962
52    495.2233
Name: Math, dtyp...
4  SA  2     409.0333
7     377.0695
10    422.6714
1...

In [ ]:
indTest = stats.ttest_ind(pisa.groupby("Continent_Code").T["EU"], pisa.groupby("Continent_Code").T["AS"], equal_var=True)